<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>ST3.0</title>
    <link rel="stylesheet" href="/pc/css/global.css">
    <link rel="icon" href="/favicon.gif">
    <script type="text/javascript" src="/pc/js/vue.min.js"></script>
    <script type="text/javascript" src="/pc/js/axios.min.js"></script>
    <script type="text/javascript" src="/pc/js/sweetalert.min.js"></script>

    <script type="text/javascript">
        let ua = navigator.userAgent;
        let ipad = ua.match(/(iPad).*OS\s([\d_]+)/),
            isIphone = !ipad && ua.match(/(iPhone\sOS)\s([\d_]+)/),
            isAndroid = ua.match(/(Android)\s+([\d.]+)/),
            isMobile = isIphone || isAndroid;

        if (isMobile) {
            location.href = '/index.html';
        }else {
            window.onbeforeunload = () => false;
        }

        document.onselectstart = () => false;

        axios.defaults.headers.common['x_requested_with'] = 'XMLHttpRequest';

        function req(url, param = null, func) {
            if (!sessionStorage['token']){
                axios.get('/index.php/filelist').then(res => {
                    sessionStorage['token'] = res.headers.token;
                    req(url, param, func);
                });
            }else {
                let p = '';
                for (key of Object.keys(param)) {
                    p += `${key}=${param[key]}&`;
                }
                axios.post('/index.php/' + url, p, {
                    headers: {
                        'token': sessionStorage['token'],
                        'Content-Type': 'application/x-www-form-urlencoded'
                    },
                }).then( res => {
                    if (res.data.err == 0) {
                        func(res.data.data);
                    }else {
                        swal({
                            title: '好像出了点问题呢',
                            text: `${res.data.msg}:${res.data.err}`,
                        }).then( () => {
                            sessionStorage.removeItem('token');
                        });
                        return false;
                    }
                });
            }
        }
    </script>
</head>

<body>
    <div id="app">
        <div class="nav">
            <div>{{ title }}</div>
            <input type="text" placeholder="文件/笔记">
        </div>

        <keep-live class="left">
            <component :is="page.left"></component>
        </keep-live>
        <keep-live class="right">
            <component :is="page.right"></component>
        </keep-live>

    </div>
</body>

<template id="index">
    <div>
        <img style="height: 99%;width: 100%;" src="https://img01.sogoucdn.com/app/a/100520021/882f1e00ccdaaad0782e8e79b45f02a6">
    </div>
</template>

<template id="home">
    <div class="st">
        <div class="title">你的魔鬼来了哦</div>
        <ul class="progress" ref="progress">
            <!--<li @click="tab"> < </li>-->

            <li v-for="(item, key) in list" :key="key" :title="item.declare" :class="{active:index - 1 == key}">
                {{ key }}
            </li>

            <!--<li @click="tab"> > </li>-->
        </ul>
        <!-- 答题区域 -->
        <div class="area">
            <!--{{ current }}-->
            <!-- 设计是有个这东西，那就来一个吧 -->
            <div class="title">GENIE</div>
            <div class="issue" v-html="current.declare">{{ current.declare }}</div>

            <!-- 回答区域 -->
            <div class="answer">
                <div v-if="!current.answer || !current.answer.type || current.answer.type == 0">
                    <textarea @keypress.enter.prevent="n()"></textarea>
                </div>
                <div v-else-if="current.answer == 1">
                    <div v-for="item,key in current.answer.item" :key="key">
                        <input type="radio" :id="key">
                        <label class="radio" :for="key">{{ item.name }}</label>
                    </div>
                </div>
                <div v-else-if="current.answer == 2">
                    <div v-for="item,key in current.answer.item" :key="key">
                        <input type="checkbox" :id="key">
                        <label class="checkbox" :for="key">{{ item.name }}</label>
                    </div>
                </div>

                <div class="menu">
                    <button @click="n">下一题</button>
                </div>
            </div>
        </div>
    </div>
</template>

<template id="history">
    <div>
        历史页面
    </div>
</template>

<template id="right-catalog">
    <div style="position: relative;">
        <ul class="catalog">
            <li v-for="(item,key) in path || catalog" :key="key" @click="enter(key)" :title="typeof item != 'string'? key: item">
                <span v-if="typeof item != 'string'">
                    <img src="/pc/img/dir.png" alt="dir">{{ key }}
                </span>
                <span v-else>
                    <img src="/pc/img/file.png" alt="file">
                    {{ item }}
                </span>
            </li>
        </ul>
        <div style="position: absolute;right: 10px;bottom: 10px;cursor: default">
            <span style="color: grey;">by ccheng</span>
            <img src="/pc/img/back.png" alt="back" @click="back" style="height: 25px;cursor: pointer;">
        </div>
    </div>
</template>

<template id="right-analyze">
    <div class="tips">
        小提示：<br>
        隶属于{{ current.catalog }}<br>
        <div class="tips" v-if="current.param">根据记载，它的常用参数有{{ Object.keys(current.param && current.param[0] || {}).length - 1 }}个<br></div>
        <div class="tips" v-if="current.link"><span class="tips" v-for="item in current.link">{{ item }}、</span>和它有py交易</div>
    </div>
</template>

<script type="text/javascript">
    let eventBus = new Vue;

    new Vue({
        el: "#app",
        data: {
            title: '永远相信，美好的事情即将发生',
            page: {
                left: 'index',
                right: 'right-catalog',
            }
        },
        created() {
            eventBus.$on('title', title => {
                this.title = title;
            });
            eventBus.$on('page-left', pl =>{
                this.page.left = pl;
            });
            eventBus.$on('page-right', pr =>{
                this.page.right = pr;
            });
        },
        components: {
            'index': {
                template: '#index',
            },
            // 主页
            'home': {
                template: '#home',
                data() {
                    return {
                        // 概览
                        list: null,
                        // 当前解析
                        current: null,
                        // 当前位置
                        index: 0,
                    }
                },
                methods: {
                    start() {
                        req('/start/getst', {
                            file: sessionStorage.getItem('file'),
                        }, data => {
                            this.list = data;
                            this.n();
                        });
                    },
                    // 进入下一题
                    n() {
                        let next = this.list[this.index ++];
                        if (next) {
                            this.current = next;
                            eventBus.$emit('st_current', this.current);

                            let gress = document.querySelector('li.active').offsetLeft;
                            if(this.$refs.progress && gress && this.$refs.progress.scrollLeft < gress) {
                                let interval = setInterval(() => {
                                    if (this.$refs.progress.scrollLeft < gress - 100)
                                        this.$refs.progress.scrollLeft = gress - 50;
                                    else if (this.$refs.progress.scrollLeft < gress)
                                        this.$refs.progress.scrollLeft += 3;
                                    else clearInterval(interval);
                                }, 10);
                                setTimeout(() => {
                                    clearInterval(interval);
                                }, 1000);
                            }
                        }else {
                            // 完成汇总
                            swal('已经完成所有了哦');
                        }
                        return false;
                    },
                    verify() {

                    }
                },
                mounted() {
                    this.start();
                    eventBus.$on('getst', this.start);
                }
            },
            'history': {
                template: '#history'
            },
            'right-analyze': {
                template: '#right-analyze',
                data() {
                    return {
                        // 和侧边是一样的，只显示一下不做改变
                        current: null,
                    }
                },
                methods: {
                    stCurrent(data) {
                        this.current = data;
                    }
                },
                mounted() {
                    eventBus.$on('st_current', this.stCurrent);
                }
            },
            'right-catalog': {
                template: '#right-catalog',
                data() {
                    return {
                        'catalog': null,
                        'path': null,
                    }
                },
                methods:{
                    enter(key){
                        let next = this.catalog[key];
                        if (typeof next != 'string'){
                            this.catalog = next;
                        }else {
                            sessionStorage.setItem('file', key);
                            eventBus.$emit('title', '练习');
                            eventBus.$emit('page-left', 'home');
                            eventBus.$emit('page-right', 'right-analyze');
                            eventBus.$emit('getst');
                        }
                    },
                    back() {
                        req('/filelist', {}, data => {
                            this.catalog = data;
                        });
                    }
                },
                mounted() {
                    this.back();
                }
            }
        }
    })
</script>
</html>